body{
    front-family: Arial;
    background-color: #f2f2f2;
    text-align: center;
    margin: 0;
}


.container {
    background: white;
    width: 60%;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px gray;
}

.profile-img{
    width: 150px;
    height: 150px;
    border-radius: 20%;
    margin-top: 10px;
}

h1{
    color: darkblue;

}

button{
    paddding:10px 20px;
    background-color: blue;
    color: white;
    border:none;
    border-radius: 5px;
    cursor:pointer;
}
@media screen and (max-width: 768px) {

    .container {
        width: 90%;
        margin: 20px auto;
        padding: 15px;
    }

    h1 {
        font-size: 22px;
    }

    h2 {
        font-size: 18px;
    }

    .profile-img {
        width: 90px;
        height: 90px;
    }

    button {
        width: 100%;
        margin-top: 10px;
    }
    body {
    transition: 0.3s ease;
}

.dark-mode {
    background-color: #121212;
    color: white;
}

.dark-btn {
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    border: none;
    background: black;
    color: white;
    border-radius: 5px;
}
.container {
    animation: fadeIn 1s ease-in;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
button {
    transition: 0.3s;
}

button:hover {
    transform: scale(1.05);
}
}